.alter-box {
  background-color: skyblue;
  padding: 20px;
  color: white;
  border-radius: 5px;
  display: none;
  /* 
    UI를 평소에 숨기고 싶으면 display : none
    다시 보여주고 싶으면 display : block 
    싫으면 visibility : hidden
    */
}

/* Bootstrap이 제공하는 link에 CSS 규칙이 있습니다.
   이 규칙은 .list-group 클래스를 가진 요소를 숨깁니다.
   .list-group { display: flex; ... }에 해당하는데
    이 규칙을 덮어쓰려면 !important를 사용합니다.
    
*/
.list-group {
  display: none;
}

.show {
  display: block !important;
}

.black-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  padding: 30px;
  display: block; /* display: none; */
}
.white-bg {
  background: white;
  border-radius: 5px;
  padding: 30px;
}
.show-modal {
  display: block;
}
